* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
  --fc-heading: hsl(230, 100%, 9%);

  --bg-color: hsl(223, 100%, 96%);
  --bd-color: hsl(228, 81%, 59%);
  --bd-color-hover: hsl(230, 57%, 50%);
}

body {
  background: var(--bg-color);
  margin: auto;
  align-items: center;
  color: var(--fc-heading);
}

body.dark-blue {
  --bg-color: hsl(230, 100%, 9%);
  --fc-heading: hsl(223, 100%, 96%);
}

body.pink {
  --bg-color: hsl(336, 100%, 97%);
  --fc-heading: hsl(339, 100%, 6%);
  --bd-color: hsl(339, 67%, 52%);
  --bd-color-hover: hsl(339, 69%, 38%);
}

body.dark-pink {
    --bg-color: hsla(339, 100%, 6%);
    --fc-heading: hsla(336, 100%, 97%);
    --bd-color: hsl(339, 67%, 52%);
    --bd-color-hover: hsl(339, 69%, 38%);
  }

img {
  width: 100%;
}

.page {
  text-align: center;
  text-align: center;
  width: 30rem;
  margin: 0 auto;
  padding-top: 6rem;
}

.avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 4px solid var(--bd-color);
  padding: 3.7px;
}

.page h1 {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.page h2 {
  font-family: var(--ff-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
}

ul {
  list-style: none;
  margin: 4.8rem 0;
}

a {
  text-decoration: none;
}

ul li a {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  text-transform: uppercase;
  color: white;

  width: 100%;
  height: 5.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bd-color);
  margin-bottom: 1.6rem;
  border-radius: 6px;
}

ul li a:hover {
  background: var(--bd-color-hover);
  transition: 400ms;
}

h1 {
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}

footer {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
}

footer a {
  color: var(--fc-heading);
}

footer:hover {
  opacity: 1;
  transition: 400ms;
}
